:root {
  --darkBase: rgb(0, 0, 0);
  --darkSecondary: rgb(17, 17, 17);
  --darkAccent: rgba(0, 0, 0, 0.5);
  --lightBase: rgb(255, 255, 255);
  --lightAccent: rgba(255, 255, 255, 0.2);
  --grey: rgb(197, 197, 197);
  --blue: rgb(0, 98, 209);
  --borderDark: 1px solid var(--lightAccent);
  --borderLight: 1px solid var(--lightBase);
  --transition: all 200ms ease-in-out;
  --opacity: .8;

  /*Size */
  /*2px */
  --size-xxx-small: 0.125rem;
  /*3px */
  --size-xx-small: 0.188rem;
  /*5px */
  --size-x-small: 0.313rem;
  /*7px */
  --size-small-sm: 0.438rem;
  /*10px */
  --size-small-base: 0.625rem;
  /*12px */
  --size-small-xl: 0.75rem;
  /*14px */
  --size-base-sm: 0.875rem;
  /*16px */
  --size-base: 1rem;
  /*18px */
  --size-1-xl: 1.125rem;
  /*20px */
  --size-2-base: 1.25rem;
  /*24px */
  --size-2-xl: 1.5rem;
  /*30px */
  --size-3-base: 1.875rem;
  /*36px */
  --size-3-xl: 2.25rem;
  /*40px */
  --size-4-base: 2.5rem;
  /*48px */
  --size-4-xl: 3rem;
  /*50px */
  --size-5-base: 3.125rem;
  /*60px */
  --size-6-base: 3.75rem;
  /*70px */
  --size-7-base: 4.375rem;
  /*72px */
  --size-7-xl: 4.5rem;
  /*80px */
  --size-8-base: 5rem;
  /*90px */
  --size-9-base: 5.625rem;
  /*96px */
  --size-9-xl: 6rem;
  /*100px */
  --size-10-base: 6.25rem;
  /*128px */
  --size-12-xl: 8rem;

  /*Clamp */
  --clamp-x-small: clamp(var(--size-xx-small), .5vw, var(--size-x-small));
  --clamp-small: clamp(var(--size-small-sm), 1vw, var(--size-small-base));
  --clamp-small-xl: clamp(var(--size-small-base), 1.2vw, var(--size-small-xl));
  --clamp-base-sm: clamp(var(--size-small-xl), 1.4vw, var(--size-base-sm));
  --clamp-base: clamp(var(--size-base-sm), 1.6vw, var(--size-base));
  --clamp-1-xl: clamp(var(--size-base), 1.8vw, var(--size-1-xl));
  --clamp-2-base: clamp(var(--size-base), 2vw, var(--size-2-base));
  --clamp-2-xl: clamp(var(--size-1-xl), 2.4vw, var(--size-2-xl));
  --clamp-3-base: clamp(var(--size-2-xl), 3vw, var(--size-3-base));
  --clamp-3-xl: clamp(var(--size-2-base), 3.6vw, var(--size-3-xl));
  --clamp-4-base: clamp(var(--size-2-xl), 4vw, var(--size-4-base));
  --clamp-4-xl: clamp(var(--size-3-base), 4.8vw, var(--size-4-xl));
  --clamp-5-base: clamp(var(--size-3-xl), 5vw, var(--size-5-base));
  --clamp-6-base: clamp(var(--size-3-xl), 6vw, var(--size-6-base));
  --clamp-7-base: clamp(var(--size-6-base), 7vw, var(--size-7-base));

  /*Font Weight*/
  --fw-thin: 100;
  --fw-extraLight: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semiBold: 600;
  --fw-bold: 700;
  --fw-extraBold: 800;
  --fw-black: 900;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif, system-ui;
  line-height: 1.5;
  text-decoration: none;
}

html {
  color-scheme: dark;
  scroll-behavior: smooth;
}

body {
  max-width: 90rem;
  margin-inline: auto;
}

h1 {
  font-size: var(--clamp-4-base);
  font-weight: var(--fw-semiBold);
  line-height: 1.1;
}

h2,
.h2 {
  font-size: var(--clamp-2-xl);
  font-weight: var(--fw-semiBold);
  line-height: 1.1;
}

p,
span {
  font-size: var(--clamp-base);
  font-weight: var(--fw-regular);
  line-height: inherit;
  color: var(--grey);
}

strong {
  color: var(--lightBase);
  font-weight: var(--fw-medium);
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

button {
  font-size: var(--clamp-base);
  font-weight: var(--fw-medium);
  line-height: 1.4;
  padding-block: var(--size-small-base);
  padding: .65em 1em;
  border-radius: var(--size-4-base);
  border: none;
  background-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

button:has(svg) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-base);
}

button:hover,
button:focus-visible {
  opacity: var(--opacity);
}

.wrapper {
  width: min(95%, 75rem);
  margin-inline: auto;
  padding-block: clamp(var(--size-4-base), 5vw, var(--size-5-base));
}

.home__contents {
  display: grid;
  place-items: center;
}

.home__subheading {
  font-size: var(--clamp-2-base);
  color: var(--grey);
  margin-block: var(--size-small-base) var(--clamp-4-base);
}

.home__plans {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: var(--clamp-2-base);
}

.home__option {
  display: flex;
  flex-direction: column;
  gap: var(--clamp-base);
  padding-block: var(--clamp-5-base);
  padding-inline: var(--clamp-3-base);
  border-radius: var(--size-x-small);
  border: var(--borderDark);
  transition: var(--transition);
}

.home__option:hover,
.home__option:focus-visible {
  border: var(--borderLight);
}

.pro {
  background-color: var(--darkBase);
  border: none;
}

.home__benefit {
  display: grid;
  gap: var(--size-small-base);
  color: var(--grey);
  margin-block: var(--clamp-2-base);
}

.home__option-list {
  display: grid;
  gap: var(--clamp-small);
  padding-inline: var(--clamp-base);
  font-size: var(--clamp-base);
}

.home__option button,
.button-group {
  margin-top: auto;
}

.hobby button {
  background-color: var(--lightBase);
  color: var(--darkBase);
}

.pro button {
  background-color: var(--blue);
}

.enterprice .button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-base);
}

.enterprice .button-group button:nth-child(1) {
  background-color: var(--darkBase);
  border: var(--borderLight);
}

.enterprice .button-group button:nth-child(2) {
  background-color: var(--lightBase);
  color: var(--darkBase);
}

@media (max-width: 64rem) {
  .enterprice .button-group {
    flex-direction: column;
  }

  .enterprice .button-group button {
    width: 100%;
  }
}

@media (max-width: 46.875rem) {
  h1,
  .home__subheading {
    text-align: center;
  }

  .home__plans {
    justify-content: center;
    flex-wrap: wrap;
  }

  .home__option {
    width: 100%;
  }

  .home__benefit {
    margin-block: 0rem var(--size-small-base);
  }
}